<%= form_for list, url: {action: action, id: list.id}, html: {method: "post"} do |f| %>
  <div class="form_block primary">
    <%= f.text_field :name, :placeholder => "Name your freaking list" %>
    <%= f.submit("#{action} my freaking list!") %>
  </div>
<% end %>