<%= form_for list, url: {action: action, id: list.id}, html: {method: "post"} do |f| %>
  <div class="form_block primary">
    <%= f.text_field :name, :placeholder => "Name your stupid list" %>
    <%= f.submit "#{action} my list!", :class => "hidden" %><br/>
    <%= link_to "#{action} my list!", "#", :class => 'fake-submit' %>
  </div>
<% end %>