<div class="create-list-page">
  <h1 class="list-title"><span class="modified-title">Gimme some freakin’ presents!</span><h1>
  <h2 class="sub-title">Make a Christmas list for your lame family by typing in the thing below.</h2>
  <%= render 'form', :list => @list, :action => @action %>
</div>
