@mixin font-face($family, $filename, $font-weight: normal, $font-style: normal) {
  @font-face { 
    font-family: "#{$family}";
    src: url("/webfonts/#{$filename}.eot?#iefix") format("embedded-opentype"), url("/webfonts/#{$filename}.woff") format("woff");
  }  
}
@include font-face("typhoid-mary", "typhoid-mary");
@include font-face("venus-dioxide", "venus-dioxide");

body { font-family: monospace; }
.hidden { display: none; }
a { color: green; }

.list-title {
  font-family: "typhoid-mary", monospace;
  font-weight: normal;
  font-size: 60px;
  text-align: center;
  color: green;
  span:nth-child(2n+2) { color: red; }
}

.sub-title {
  text-align: center;
  font-size: 22px;
  font-family: "venus-dioxide";
  font-weight: normal;
}

.edit-link {
  text-indent: -9999px;
  width: 13px;
  height: 14px;
  display: inline-block;
  position: relative;
  margin-left: -10px;
  top: 3px;
  opacity: 0.6;
  background-image: image-url('edit.png');
  &:hover { opacity: 1; }
}

.toggle-edit-controls {
  left: 12px;
  top: 4px;
}

.price {
  display: inline-block;
  margin-top: 10px;
}

.title-wrapper { 
  position: relative;
  max-width: 800px;
  margin: 15px auto;
}

.edit-list-title { display: inline-block; }

.gift .controls {
  position: relative;
  display: inline-block;
  font-family: monospace;
  text-align: left;
}

.gift {
  text-align: center;
  margin-bottom: 200px;
  font-family: "venus-dioxide";
  font-weight: normal;
  color: green;
  padding: 10px;
  box-sizing: border-box;
  img { 
    margin-bottom: 10px; 
    max-width: 800px;
  }
  &:first-child { margin-top: 100px; }
}

.edit-gift-container {
  position: absolute;
  bottom: 0;
  left: 35px;
  &.hidden { display: none; }
  &.active { display: block; }
}

.new_gift, .edit_gift {
  width: 270px;
  padding: 20px 0px 20px 20px;
  border: 1px solid #ccc;
  background: rgba(255,255,255,0.8);
  .add-message { display: none; }
  input[type="text"] { margin-bottom: 10px; }
}

.new_gift {
  position: fixed;
  left: 10px;
  bottom: 40px;
  .add-message {
    display: block;
    margin-top: 0;
  }
}

.new_list, .edit_list {
  width: 500px;
  margin: 0 auto;
  text-align: center;
  border: 1px solid #ccc;
  padding: 20px 0;
  margin-top: 60px;
  background: whitesmoke;
  input[type="text"] {
    width: 80%;
    font-size: 18px;
    font-family: monospace;
    text-align: center;
    margin-bottom: 10px;
  }
}

.new-list-link {
  display: block;
  background: green;
  color: white;
  position: fixed;
  bottom: 10px;
  left: 10px;
  width: 292px;
  text-align: center;
  padding: 6px 0 10px 0;
}

.create-list-page .list-title { margin-bottom: 0; }

@media (max-width: 800px) {
  .gift img { max-width: 100%; }
  .title-wrapper { max-width: 100%; }
}