@mixin font-face($family, $filename, $font-weight: normal, $font-style: normal) {
  @font-face { 
    font-family: "#{$family}";
    src: url("/webfonts/#{$filename}.eot?#iefix") format("embedded-opentype"), url("/webfonts/#{$filename}.woff") format("woff");
  }  
}
@include font-face("typhoid-mary", "typhoid-mary");
@include font-face("venus-dioxide", "venus-dioxide");

body {
  font-family: monospace;
}

.list-title {
  font-family: "typhoid-mary", monospace;
  font-weight: normal;
  font-size: 60px;
  text-align: center;
  position: relative;
  color: green;
  margin-top: 15px;
}

.edit-list-title {
  font-size: 12px;
  display: inline-block;
  width: 0;
}

.gift .controls {
  position: relative;
  display: inline-block;
}

.gift {
  text-align: center;
  margin-bottom: 200px;
  font-family: "venus-dioxide";
  font-weight: normal;
  &, a { color: green; }
  &:first-child { margin-top: 100px; }
}

.edit-gift-container {
  position: absolute;
  bottom: 0;
  left: 35px;
  &.hidden { display: none; }
  &.active { display: block; }
}

.new_gift, .edit_gift {
  width: 270px;
  padding: 20px 0px 20px 20px;
  border: 1px solid #ccc;
  background: rgba(255,255,255,0.8);
  .add-message { display: none; }
  input[type="text"] { margin-bottom: 10px; }
}

.new_gift {
  position: absolute;
  right: 10px;
  top: 20%;
  .add-message {
    display: block;
    margin-top: 0;
  }
}